body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  background-color: #fff;
  min-width: 320px;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */

.header {
  width: 100%;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 72px;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-item {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-span {
  color: #2e2f42;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.navigation-item {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  display: block;
}
.active-color {
  color: #404bbf;
}

.active-color::after {
  position: absolute;
  content: "";
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.navigation-item:hover,
.navigation-item:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.contacts-list {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.contacts-item {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item:hover,
.contacts-item:focus {
  color: #404bbf;
}

/* main */

.section {
  padding: 120px 0;
}

/* hero-section */

.hero-image-section {
  max-width: 100%;
  margin: auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 188px 0;
}

.hero-image-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin: 0 auto 48px;
}

.order-service-button {
  cursor: pointer;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-button:hover,
.order-service-button:focus {
  background-color: #404bbf;
}

/* first-section */

.first-section {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.first-section-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

.first-section-list-item {
  width: calc((100% - 72px) / 4);
}

.first-section-list-icon {
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
}

.first-section-list-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.first-section-list-item-description {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* second-section */

.second-section {
  background-color: #f4f4fd;
}

.second-section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 0 72px 0;
}

.second-section-list {
  width: 1128px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}

.second-section-list-item {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.second-section-list-item-title {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.second-section-list-item-text-holder {
  padding: 32px 0;
}

.second-section-list-item-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.social-media-list-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.social-media-icon {
  fill: #f4f4fd;
}
.social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 12px 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: #404bbf;
}

/* third-section */

.third-section {
  background-color: #fff;
}

.third-section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.third-section-list {
  width: 1128px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 24px;
  row-gap: 48px;
}

.third-section-list-item {
  background-color: #fff;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.third-section-list-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.third-section-img-box {
  position: relative;
  overflow: hidden;
}

.third-section-text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 40px 32px;
}

.third-section-list-item:hover .third-section-text-overlay {
  transform: translateX(0);
}

.third-section-app-border {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.third-section-list-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 0 0 8px;
}

.third-section-list-item-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-first-box {
  margin-right: 120px;
}
.footer .logo-item {
  color: #4d5ae5;
  display: inline-block;
  margin: 0 0 16px;
}

.footer .logo-span {
  color: #f4f4fd;
}

.footer-description {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.footer-social-media-box {
  margin-right: 80px;
}
.footer-social-media-text {
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.footer .social-media-list-icon {
  gap: 16px;
}

.footer .social-media-link {
  padding: 0;
}
.footer .social-media-link:hover,
.footer .social-media-link:focus {
  background-color: #31d0aa;
}

.subscribe-input {
  display: flex;
  gap: 24px;
}

.subscribe-label {
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.input-e-mail {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #fff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-e-mail:hover {
  border-color: #4d5ae5;
}

.input-e-mail::placeholder {
  color: #fff;
}

.subscribe-icon {
  margin-left: 16px;
}

.footer-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  padding: 8px 24px;
  height: 40px;
  min-width: 165px;
  border: none;
  border-radius: 4px;
  background: #4d5ae5;
  color: #fff;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover {
  background-color: #404bbf;
}

/* form */
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-box {
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 72px 24px 24px 24px;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #2e2f42;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  height: 24px;
  width: 24px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-close-button:hover,
.form-close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #fff;
}

.form-title {
  color: #2e2f42;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.form-label-box {
  margin-bottom: 8px;
}
.form-label {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
}

.input-wrap input {
  display: block;
  width: 360px;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap input:hover,
.input-wrap input:focus {
  border-color: #4d5ae5;
  fill: #4d5ae5;
}

.input-wrap {
  position: relative;
}

.form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: #434455;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap:hover .form-icon,
.input-wrap:focus .form-icon {
  fill: #4D5AE5;
}

.form-textarea-box {
  margin-bottom: 16px;
}

.form-textarea {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.form-textarea:hover,
.form-textarea:focus {
  border-color: #4d5ae5;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 24px;
}

.checkbox {
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  position: absolute;
  left: 24px;
}

.label-span {
  position: absolute;
  left: 24px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  cursor: pointer;
}

.checkbox:checked + .policy span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}



.span-svg {
  width: 16px;
  height: 16px;
  position: absolute;
  fill: transparent;
}
.policy {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.policy a {
  color: #4d5ae5;
  text-decoration: underline;
}

.form-sent-button {
  display: block;
  background-color: #4d5ae5;
  padding: 16px 32px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  margin-top: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-sent-button:hover {
  background-color: #404bbf;
}
